 *{
        margin: 0;
        padding: 0;

       }
       main{
        background-color: rgb(70, 70, 70);
        position: absolute;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
        top: 3%;
        right: 36%;
       }
       input{
        background-color: white;
        border-radius: 5px;
        height: 5vw;
        width: 25vw;
        border-color: rgb(0, 0, 0);
        font-size: 30px;
        
       }
       button{
        font-size: 35px;
        padding: 25px;
        align-items: center;
        border-radius: 30px;
        background-color: rgb(141, 141, 141);
        transition: 0.5s;  
        border-color: rgb(141, 141, 141); 
    }
       button:hover{
        background-color: rgb(75, 75, 75);
           transition: 0.5s;
           box-shadow: 2px 2px 2px #cccccc;
                 
       }   
       body{
        background-image: url(imagens/696278-texturizado-fundo-preto-gratis-vetor.jpg) ;
       }
       h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;

       }
       main .igual{
        background-color: rgb(0, 255, 157);
        border-color: rgb(0,255,157);
       }